/* font-family: 'Arvo', serif; */

body {
    font-family: 'Roboto', sans-serif;
}

.height {
    min-height: 100vh;
}

#header {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .4)), url(img/ecmc_szczecin.jpg)center/cover no-repeat fixed;
}

.title-underline {
    width: 200px;
    height: 7px;
    margin: 0 auto;
}

.height-80 {
    min-height: 80vh;
}

.about-picture {
    background: url(img/blue_bike.JPG)center/cover no-repeat fixed;
}

#shop {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .5)), url(img/shop.jpg)center/cover no-repeat fixed;
}